<div class="container spacer">
{{#each articles}}
    <div class="row">
        <div class="col-sm-3">
            <img src="{{this.photoLink}}" alt="Post IMG">
        </div>
        <div class="col-sm-7">
            <h4>{{this.title}}</h4>
            <br>
            <p>{{this.excerpt}}</p>
            <a href="{{this.link}}" target="_BLANK">View this article on TechCrunch</a>
        </div>
        <div class="col-sm-2">
            <a id="{{this._id}}" class="btn btn-primary save">View Comments</a>
        </div>
    </div>
    <hr>
 {{/each}}
 </div>